 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

 :root {
     --background-color: #FBFBFB;
     --green-background-color: #153e52;
     --dark-green-color: #113448;
     --light-green-color: #14BF98;
     --dark-gray-color: #484A46;
     /* --light-gray-color: #787976; */
     --white-color: #ffffff;
     --disabled-color: #E9ECEF;
     --dark-white-color: #DFE5EC;
     --light-gray-border-color: #EBE8E8;
     --form-input-background-color :#2A5D77;
     --form-input-border-color : #39728F;

     --image-contrast : 60%;
     --image-grayscale:25%;
 }

     body{
     margin: 0;
     padding: 0;
     /* background-color: var(--background-color); */
     overflow-x:hidden;
     /* color: #484A46;; */
     font: 400 1rem / 1.56rem "Open Sans", sans-serif;

                                                   
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 a,
 span,
 button,
 input,
 label,
 select,
 option {
     font-family: "Montserrat", sans-serif;
     margin: 0;
     padding: 0;
 }
 h2.logo{
  color: var(--white-color);
 }
 h2.logo:hover{
  color: var(--light-green-color);
 }
  .icon{ 
    cursor: pointer;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 } 

 .italic{
    font-style: italic;
    /* color: var(--dark-white-color);
    font-family: "Montserrat", sans-serif; */
 }
 .underline{
    text-decoration: underline;
    cursor: pointer;
 }

 .green-text{
  color: var(--light-green-color);
 }
 button {
     cursor: pointer;
     border: 1px solid var(--light-green-color);
     background-color: var(--light-green-color);
     color: var(--white-color);
     text-transform: uppercase;
     padding: 1rem 2rem;
     border-radius: 5px;
     transition: all 0.125s ease-in-out;
     font-weight: 700;
     letter-spacing: 0.3ch;
     font-size: 0.75rem;
 }

 button:hover {
     background-color: transparent;
     color: var(--light-green-color);
 }

 .section-title {
     color: var(--light-green-color);
     text-transform: uppercase;
     padding: 1rem 0px;
     line-height: 3rem;

 }



 nav {
     display: flex;
     flex-direction: row;
     gap: 5px;
     position: fixed;
     justify-content: space-between;
     width: 100%;
     top: 0;
     left: 0;
     padding: 1rem 3rem;
     box-sizing: border-box;
     align-items: center;
     color: var(--white-color);
     text-transform: uppercase;
     z-index: 100;
     background-color: var(--dark-green-color);
     
 }

 nav a {
     text-decoration: none;
     color: var(--white-color);
     transition: color 0.125s ease-in-out;
 }

 nav a:visited {
     color: var(--white-color);
 }

 nav a:hover {
     color: var(--light-green-color);
 }

 nav ul {
     display: flex;
     align-items: center;
     flex-direction: row;
     list-style-type: none;
     gap: 2rem;
     margin: 0px;
     font-size: 0.89rem;
     font-weight: 550;
     /* padding: 0px; */
     
 }

  nav ul .icon {
    background-color: var(--light-green-color);
    /* padding: 0.75rem; */
    padding: 5px 10px;
   cursor: pointer;
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);


  }
  nav ul .icon:hover {
    background-color: var(--dark-white-color);
  }
  nav ul .icon:hover a {
    color: var(--light-green-color);
  }
 nav img {
  height: 2rem;
    border-radius: 10rem;
    width: 10rem;
  } 
 


 .home {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./assets/head-background.jpg);
     /* width: 100%; */
     min-height: 100vh;
     display: flex;
     background-size: cover;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-position: center;
     color: var(--white-color);
     gap: 1.5rem;
     margin: 0;

 }

 .home h1 {
     text-transform: uppercase;
     font-size: 4rem;
     padding: 0.7rem 0;
 }

 .home p {
     font-size: 1.5rem;
     width: 50%;
 }

 .intro {
     padding: 3rem 5vw;
     background-color: var(--white-color);
     overflow: hidden;
 }

 .intro .content {
     display: flex;
     flex-direction: row;
     gap: 2rem;
 }

 .intro .content .text {
     width: 50%;
     flex-shrink: 0;
     overflow: hidden;
 }

 .intro .content .text h3 {
     color: var(--dark-gray-color);
     font-size: 2rem;
     padding: 1rem;
     line-height: 2rem
 }

 .intro .content .text p {
     color: var(--light-gray-color);
     font-weight: 400;
     line-height: 1.5rem;
     width: 70%;
 }

 .intro .content .text h4 {
     color: var(--dark-gray-color);
     line-height: 2rem;
 }

 .intro .content .image-container {
     width: 60%;
     flex-shrink: 0;
     overflow: hidden;
     border-radius: 5px;
     filter: grayscale(25%);
     cursor: pointer;

 }

 .intro .content img {
     width: 70%;
     height: 50%;
     object-fit: cover;
     border-radius: 5px;
     filter: grayscale(25%);
     transition: transform 0.3s ease-in-out;
 }

 .intro .content img:hover {
     transform: scale(1.2);
 
 }

   /* Sub Intro  */
  

   .sub-intro2{
    display: flex;
    /* margin: 10vh 7vw; */
    justify-content: center;
    /* column-gap: 4%; */
    flex-wrap: wrap;
  }
  
  .sub-intro2>div{
    width: 25%;
  }
  
  
  .hexagon{
    position: relative;
    
  }
  .hexagon>img{
    width:100px;
    height: 100px;
  }
  
  .hexagon>i{
    position: absolute;
    top: 37px;
    left: 36px;
    font-size: 30px;
    color: #ffffff;
  }
  
  .sub-intro-content{
    color: #787976;
    width: 340px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 410;
  }


   /* ***************************************************************** */

 .services {
     padding: 5rem 0;
 }

 .services > span {
     display: block;
     text-align: center;
 }

 .services>h3 {
     text-align: center;
     font-size: 1.75rem;
     color: var(--dark-gray-color);
 }

 .services .service-list-container {
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     padding: 3rem 10vw;
     align-items: start;
     margin-bottom: 4rem;
 }

 .services .service-list-container .service-item {
     width: 30%;
     flex-shrink: 0;
     flex-grow: 0;
     border: 1px solid var(--light-gray-border-color);
     border-radius: 5px;
     background-color: var(--white-color);
 }
 
 .services .service-item img {
     width: 100%;
     height: 15rem;
     object-fit: cover;
     object-position: center;
     filter: grayscale(50%) contrast(60%);
     border-radius: 5px 5px 0 0;
 }

 .services .service-item h4 {
     text-align: center;
     font-size: 1.5rem;
     color: var(--dark-gray-color);
     padding: 0.5rem 2rem;
 }

 .services .service-item p {
     line-height: 1.5rem;
     color: var(--light-gray-color);
     padding: 0.5rem 2rem;
 }

 .services .service-item ul  {
     list-style: 1rem;
     color: var(--light-gray-color);
     /* padding: 0.5rem 2rem; */
     list-style-type: none;

 }
 .services .service-item ul li {
    display: inline-block;
 }
 .services .service-item ul li::before{
    content:'\25a0';
     color: var(--light-green-color);
     margin-right: 5px;
     font-size: 1.25rem;
 }
 .services .service-item h6{
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-align: center;
    padding: 0.5rem 2rem;
 }
 .services h6 .price{
  color: var(--light-green-color);
 }
 .services .service-item button{
    position: relative;
    top:0;
    left: 50%;
    transform: translate(-50%,50%);
 }
 .services .service-item button :hover{
    background-color: var(--light-green-color);
 }
 .services .propositions{
    display: flex;
    flex-direction: row;
    background-color: var(--white-color);
    height: 10%;
    
 }
 .services .propositions img{
  height: 10%;
    width: 50%;
    filter: grayscale(25%) contrast(60%);
 }
 .services .propositions .content{
    width: 50%;
    flex-shrink: 0;
    border-radius: 5px 5px 0 0 ;
    box-sizing: border-box;
 }
 .services .propositions-1 .content{
    /* padding: 5rem 20vw 5rem  5rem; */
  padding: 0rem 5vw 0rem 3rem;
 }

 .services .propositions-1 .content {
    color: var(--dark-gray-color);
    font-family: "Montserrat", sans-serif;
 } 

 .services .propositions-1 h4{
    color: var(--dark-gray-color);
    font-size:1.5rem;
    cursor: pointer;
    transition: color 0.125s ease-in-out;
 }
 .services  .propositions-1 p{
    padding-left: 3rem;
 }

 .services  .propositions-1 h4 span{
    border-radius: 50%;
    padding: 0 0.6rem;
    border: 2px solid var(--dark-gray-color);
   color: var(--light-green-color);
   margin-right: 0.5rem;
   transition: all 0.125s ease-in-out;
 }
 .services  .propositions-1 h4:hover{
 color: var(--light-green-color);
}

 .services .propositions-1 h4.active span{
    border: 2px solid var(--light-green-color);
    background-color: var(--light-green-color);
   color: var(--white-color);
 }

 .services .propositions-1 h4:not(.active):hover span {
    border-color:var(--light-green-color);
   color: var(--light-green-color);

 }

 .services .propositions-1 h4.active, .services .propositions-1 h4.active:hover{
    color: var(--light-green-color);
 } 

 .services .propositions-2 .content{
    /* padding: 5rem  5rem  5rem 20vw; */
    padding: 4rem 5vw 0rem 3rem;
 }
 .services .propositions-2 .category-list-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
 }
 .services .propositions-2 .category-item h3{
  color: var(--light-gray-color);
  cursor: pointer;
  transition:color 0.125s ease-in-out ;

 }

 .services .propositions-2 .category-item.active h3, .services .propositions-2 .category-item  h3:hover{
  color: var(--light-green-color);
  cursor: pointer;
  transition:color 0.125s ease-in-out ;
 }

 .services .propositions-2 .skill-list-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top:2rem;
  
 }
 .services .propositions-2 .skill-item h6 {
  color: var(--dark-gray-color);
  font-size: 1rem;
 }

 .services .propositions-2 .skill-item .progress-bar {
  height: 1.5rem;
  background-color: var(--light-green-color);
  border-radius: 5px;
  margin-top:0.5rem;
  width :0;

 }

 .services .propositions-2 .skill-item .progress-bar .p-100 {
  width: 100%;
 }
 .services .propositions-2 .skill-item .progress-bar .p-76 {
  width: 76%;
 }
 .services .propositions-2 .skill-item .progress-bar .p-90{
  width: 90%;
 }

 .services .propositions-2 h3{
    line-height: 1.5rem;
    color: var(--dark-gray-color);
 }
 .services .propositions-2 p{
  line-height: 1.5rem;
  color: var(--light-gray-color);
}


 .services .testimonials {
 padding: 5rem 20vw  ;
 }
 
 .services .testimonials h3 {
  color: var(--dark-gray-color);
  text-align: center;
  font-size: 1.75rem;
 }
 
 .services .testimonials p {
    color: var(--light-gray-color);
    font-family: "Montserrat", sans-serif;
    text-align: center;
   
   }
   .services .testimonial-list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
   }
   .services .testimonial-item {
    width: 25%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
   padding:3rem 0 ;

   }
   .services .testimonial-item img {
    width: 6rem;
    border-radius: 50%;
   }
   .services .testimonial-item p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
   }
   .services .testimonial-item h4{
    color: var(--dark-gray-color);
   }


   .call_me {
    padding: 5rem 5vw;
    background-color: var(--green-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .call_me .content, .call_me .form {
     width: 45%;
     flex-grow: 0;
     flex-shrink:0 ;
     color: var(--white-color);
   }
   .call_me .content h3{
    font-size: 1.75rem;
   }
   .call_me .content p{
    line-height: 1.5rem;
    color: var(--light-gray-border-color);
   }
   .call_me .content ul{
    padding: 0;
    list-style-type: none;
   }
   .call_me .content ul li::before{
       content:'\25a0';
       color: var(--light-green-color);
       margin-right: 5px;
      font-size: 1.25rem;
   }
   .call_me form{
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
   }
   .call_me form .terms-container label{
     color:var(--white-color) ;
   } 
    .call_me form input, .call_me form select {
     background-color: var(--form-input-background-color);
     color: var(--white-color);
     border: 1px solid var(--form-input-border-color);
     padding: 0.75rem 1.5rem;
     border-radius: 5px;
   }   
   

   .projects{
    padding: 5rem 20vw;
    background-color: var(--white-color);
   }

   .projects >  span, .projects > h3{
    display: block;
     text-align: center;
   }
   .projects > h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
   }
   .projects .category-list-container ul{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap: 1rem;  
     overflow-x:scroll ;
     padding: 3rem 0 1rem;
     list-style-type: none;
    }
    .projects .category-list-container ul button{
        background-color: var(--light-gray-border-color);
        color: var(--dark-gray-color);
        border: 1px solid  transparent;
        padding: 0.5rem 1rem;
    }
    .projects .category-list-container ul button:hover,.projects .category-list-container ul button.active{
        background-color:var(--light-green-color) ;
        color: var(--dark-white-color);
    }
    
    .projects .project-list-container{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 3rem;
        
    }
   
   
     
    .projects .project-list-container .project-item{
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        background-position: center;
    }
    .projects .project-list-container .project-item:hover{
      transform: scale(1.2);
      object-fit: cover;
      border-radius: 5px;
      filter: grayscale(25%);
      /* transition: transform 0.3s ease-in-out 0s; */
  }
    

    .projects .project-item.p-1{
        background-image: url("./assets/project_1.jpg");
    }
    .projects .project-item.p-2{
        background-image: url("./assets/project_2.jpg");
    }
    .projects .project-item.p-3{
        background-image: url("./assets/project_3.jpg");
    }
    .projects .project-item.p-4{
        background-image: url("./assets/project_4.jpg");
    }
    .projects .project-item.p-6{
        background-image: url("./assets/project_6.jpg");
    }
    .projects .project-item.p-5{
        background-image: url("./assets/project_5.jpg");
    }
    .projects .project-item.p-7{
        background-image: url("./assets/project_7.jpg");
    }
    .projects .project-item.p-8{
        background-image: url("./assets/project_8.jpg");
    }
   
    

    .team {
         padding: 5rem 20vw;
         /* padding: 0; */
          background-color: var(--background-color);
          margin: 0;
        
    }
    .team > h3{
       color: var(--dark-gray-color);
       font-size: 1.75rem;
       text-align: center;
    }
   .team > p{
     color: var(--light-gray-color);
     text-align: center;
     line-height: 1.5rem;
   }
   .team .team-member-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
   }
 
 
   .team .team-member-list-container .team-member-item{
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
   }

    .team .team-member-item .profile-picture{
   width: 7rem;
   border-radius: 5px;
   clip-path: circle(50% at 50% 50%);
   overflow: hidden;
   }
   .team .team-member-item .profile-picture img{
    width: 100px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.25s ease-in-out;
   }
    .team .team-member-item .profile-picture img:hover{
  transform:scale(1.25);
  
   }

   .team .team-member-item p{
   color: var(--light-gray-color);
   line-height: 1.5rem;
   }
   .team .team-member-item h5{
      color: var(--dark-gray-color);
      font-size: 1rem;
   }
   .team .team-member-item .social-links{
   margin-top:1rem ;
   }
   .team .team-member-item .social-links span{
    background-color: var(--light-green-color);
    color: var(--white-color);
    padding: 1.25rem ;
    cursor: pointer;
    /* clip-path: polygon(50% 0, 100% 35%, 100% 75%, 50% 100%, 0 75%, 0 35%); */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);


     transition: all 0.3s ease-in-out;
   }
   .team .team-member-item .social-links span:hover{
    background-color: var(--white-color);
    color: var(--light-green-color);
  } 

  .about{
      /* padding: 5rem 20vw; */
      padding: 0;
      background-color: var(--white-color);
      display: flex;
      overflow: hidden;
      margin-left: 2rem;
  }

.about > img {
  height: 20%;
  padding-left: 2rem;
    width: 50%;
    flex-grow:0 ;
    flex-shrink:0 ;
    border-radius: 5px;
    /* filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale)); */
    
  }
  
 .about >.content{
    width: 38%;
    flex-grow:0 ;
    flex-shrink:0 ;
    padding: 3rem;
    padding: 0 3rem;
    line-height: 2rem;
    overflow: hidden;
 }
   .about .content h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
  }
  
  .about .content p {
    color: var(--light-gray-color);
   line-height: 1.5rem;
  } 
  .about .content ul {
    color: var(--light-gray-color);
    list-style-type: none;
    padding: 0;
  } 
  .about .content ul li:before {
    content:'\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
  }
  .about .content .stat-list-container{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about .content .stat-list-container .stat-item{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;project
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .about .stat-item .num{
    color: var(--light-green-color);
    font-size: 2.5rem;
    font-weight: 700;
    /* 700 2.875rem/3.25rem "Montserrat",sans-serif */
  }



/* Contact  */

.contact{
  width: 100vw;
  height: 70vh;
  margin: 20vh 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  background-color: var(--background-color);
}

.contact-form, .contact-details{
  width: 500px;
}

.icons{
  color: var(--green-background-color);
}

.contacts>span{
  text-decoration: underline;
}

.location,.contacts{
  margin-top: 10px;
}


.hexagon-group{
  display: flex;
  justify-content: flex-start;

}
.contact .hexagon{
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 2vh 0px;
  margin-left: 8px;
 transform: opacity 3s ease-in-out;
}

.contact .hexagon>i{
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 1.5rem;
}


.hexagon:hover i{
  color: #12bf98;
}

.hexagon:hover{
  /* opacity: 0.5; */
}

.contact-form input[type="text"],input[type="email"]
,textarea
{
  outline: none;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #787976;
  width: 100%;
  display: block;
  padding: 0.8rem 1rem;
  margin: 1rem 0px;
}

.checkbox{
  display: inline;
}

.contact-form span{
  color: var(--light-gray-color);
  font-size: 0.8rem;
}

.contact-form button{
  width: 100%;
  margin-top: 1.5rem;
}

.contact-form>form>span>span{
  text-decoration: underline;
}

/* ************************************************************************************************************* */
   
  /* Footer  */
  footer{
    padding: 5rem 2vw;
    background-color:#153e52;
    /* color: white; */
    color: var(--dark-white-color);
  }
  footer p{
    font-size: 0.875rem;
    /* color: white; */
    line-height: 1.375rem;
    font: 400 1rem / 1.5625rem "Open Sans", sans-serif
  }
  .footer-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
   .footer-list-container .footer-list-item.wide{
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .footer-list-container .footer-list-item.wide{
    width: 15%;
    flex-shrink: 0;
    flex-grow: 0;
  } 
   footer .footer-list-container h5 {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 700;
  }
  footer .footer-list-container p{
    color: var(--dark-white-color);
    line-height: 1.5rem;
    width: 60%;
  }
  footer a,  footer a:visited{
    color: var(--dark-white-color);
    line-height: 1.5rem;
  }
  footer a:hover{
    color: var(--light-green-color);
  }
  footer .copyright{
    padding-top: 3rem;
    color: var(--dark-white-color);
   text-align: center;
    line-height: 1.5rem;
  }




  /* Media Query  */
